# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# Database
*.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
Thumbs.db
.DS_Store